/* NORMALIZE  (BEGIN)
 *------------------------------------------------------------------------------------
 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

html,button,input,select,textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:hover,a:active {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

mark {
	background: #ff0;
	color: #000;
}

p,pre {
	margin: 1em 0;
}

pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: '';
	content: none;
}

small {
	font-size: 75%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl,menu,ol,ul {
	margin: 1em 0;
}

dd {
	margin: 0 0 0 40px;
}

menu,ol,ul {
	padding: 0 0 0 40px;
}

nav ul {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}

button,input,select,textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

button,input {
	line-height: normal; /* 1 */
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
	*overflow: visible; /* 3 */
}

button[disabled],input[disabled] {
	cursor: default;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/* NORMALIZE  (END)
 *------------------------------------------------------------------------------------
 */
 
/* RESET  (BEGIN)
 *------------------------------------------------------------------------------------
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* RESET  (END)
 *------------------------------------------------------------------------------------
 */

/* I-GLOBAL  (BEGIN)
 *------------------------------------------------------------------------------------
 */
html{
	height:100%;
	background:#a2a1af url("../i/bg_history.png") 0 0 repeat;
	/* 
	zoom:0.67; */
}
body {
	font-size: 62.5%;
	font-family: Georgia, serif;
	height:100%;
	width:100%;
	min-width: 1000px;
	max-width: 1920px;
	margin:0 auto;
	
	/* 
-moz-transform: scale(0.67);
   -moz-transform-origin: 0 0;
   -o-transform: scale(0.67);
   transform: scale(0.67);*/
}
:link {
	text-decoration: none;
	color: #fff;
}

:visited {
	text-decoration: none;
	color: #7c4b7f;
}
.visited_no_apply:visited {	
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color:#636;
}

h1,h2,h3{
	font-weight:normal;
}

/* I-GLOBAL  (END)
 *------------------------------------------------------------------------------------
 */

/* FONTS  (BEGIN)
 *------------------------------------------------------------------------------------
 */
@font-face {
    font-family:'LuxorCNormal';
    src: url('../f/lux.eot');
    src: url('../f/lux.eot?') format('☺'),
        url('../f/lux.woff') format('woff'),
        url('../f/lux.ttf') format('truetype'),
        url('../f/lux.svg#LuxorCNormal') format('svg');
	font-weight: normal;
	font-style: normal; 
}
@font-face {
    font-family:'GeorgiaRegular';
    src: url('../f/georgia.eot');
    src: url('../f/georgia.eot?') format('☺'),
        url('../f/georgia.woff') format('woff'),
        url('../f/georgia.ttf') format('truetype'),
        url('../f/georgia.svg#GeorgiaRegular') format('svg');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
    font-family:'ScrawlRegular';
    src: url('../f/scrawl.eot');
    src: url('../f/scrawl.eot?') format('☺'),
        url('../f/scrawl.woff') format('woff'),
        url('../f/scrawl.ttf') format('truetype'),
        url('../f/scrawl.svg#ScrawlRegular') format('svg');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
    font-family:'AngelicaCNormal';
    src: url('../f/ang.eot');
    src: url('../f/ang.eot?') format('☺'),
        url('../f/ang.woff') format('woff'),
        url('../f/ang.ttf') format('truetype'),
        url('../f/ang.svg#AngelicaCNormal') format('svg');
	font-weight: normal;
	font-style: normal; 
}
/* FONTS  (END)
 *------------------------------------------------------------------------------------
 */

/* WRAPPER  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.wrapper-out {
	position: relative;
	margin:auto;
	max-width: 1200px;
	min-height:100%;
}
.wrapper{
	position:relative;
	margin: auto;
	padding:0 2%;
	min-width: 1000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}
.wrapper_has_bg{
	background:#75738f; 
	-webkit-border-radius:0 0 20px 20px;
	-moz-border-radius:0 0 20px 20px;
	border-radius:0 0 20px 20px;
	behavior:url(pie.php);
}
/* WRAPPER  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* HEAD  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.head{
	padding-bottom:5px;
	border-bottom:2px solid #f9d9d3;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}
.logo {
	width: 300px;
	text-align: right;
	white-space: nowrap;
}

.logo_head {
	font-family: "LuxorCNormal", Arial, sans-serif;
	font-size: 33px;
	margin-bottom: -14px;
}
	.logo_head__lastname {
		font-size: 82px;
		display: block;
		color: #fff;
	}
		.logo_head__lastname:first-letter {
			font-size: 100px;
		}

	.logo_head__firstname {
		float: right;
		margin-top: -95px;
		letter-spacing: 4px;
		color: #7c4b7f;
	}
	
.logo_rezume {
	font-family: "AngelicaCNormal", Arial, sans-serif;
	font-size: 28px;
	font-weight:bold;
	letter-spacing: 2px;
	color: #f9d9d3;
	text-shadow: 3px 3px 0px #585488;
}

/*****BEGIN hover для логотипа*/
.logo__link:hover {
	text-decoration: none;	
}
.logo__link:hover > .logo_head__lastname,
.logo__link:hover em,
.logo__link:hover>.logo_head__firstname {
	color: #a1a1b0;
	text-shadow: 0px 2px 0px #7c4b7f, 2px 0px 0px #7c4b7f;
	/*filter: dropshadow(color=#e31cae, offx=0, offy=1);		/* ПРАВИЛО ДЛЯ IE */
}
/*****END hover для логотипа*/

.slogan{
	position:absolute;
	top:20px;
	right:2%;
}
/* HEAD  (END)
 *------------------------------------------------------------------------------------
 */
 
  /* MENU  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.menu_ver__list{
	position:relative;
	z-index:1;
	float:left;	
	width:300px;
	text-align:right;
	padding:34px 0 56px;	
	background:#9d9bb1;
	-webkit-border-radius:0 0 20px 20px;
	   -moz-border-radius:0 0 20px 20px;
			border-radius:0 0 20px 20px;
	behavior:url(pie.php);
}
.menu_ver__item{
	display:inline-block;
	width:80%;
}
	.menu_ver__link,
	.menu_ver__link:link {		
		position:relative;
		display:inline-block;
		width:100%;
		white-space:nowrap;	
		font-size:30px;
		font-family:"LuxorCNormal", Arial, sans-serif;
		line-height:22px;
		padding-top:22px;	
		padding-bottom:2px;		
		color:#75738f;			
		border-bottom:1px solid #75738f;
	}
		.menu_ver__link:before{
			position: absolute;
			top: 41px;
			left: -10px;
			content: '\0020';
			text-shadow: none;
			border-width: 5px 5px 1px 5px;
			border-color: #75738f;
			border-style: solid;
			-webkit-border-radius:10px 10px 0 0;
			   -moz-border-radius:10px 10px 0 0;
					border-radius:10px 10px 0 0;	
			behavior:url(pie.php);					
		}
		html.no-borderradius .menu_ver__link:before{			/* IE8 */
			width:12px;
			height:6px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAA50lEQVR4XpXS0WbFQBCA4RL2DQ6hj9TbovchhAJVoPS2QB9nQQhDOBxKHyMgHLBg+p+a0lg7dsPHMvyymdyVnqfHjwSttHkhaQiJF5oaQqMXCrhURFZ0FijGekQnEnHKAk5wwIwrdjsPh8Dbw3vCggnhb6CqCVppu4X0nzN6C0lDSCyUxTqGU0NotFBmZBhwqYis6Eohsev1iE4k4ndrpdDhlycwYMYVu52zrbmh15fPgGcsSGbBhOCGIBa5xxe04IzeC432Jt9Q48Xyj40VnV1HK2XrjzjZtaQhJLfQjhmHLTBMDaHtB8JkneLP2M9HAAAAAElFTkSuQmCC) 100% 100% no-repeat;
			overflow:hidden;
			border:none;
		}

.menu_ver__link_state_current,
.menu_ver__link_state_current:link{		
	color:#fff;
	border-color:#fff;
	text-shadow: 0px 1px 0px #cccae9, 1px 0px 0px #cccae9;
}
	.menu_ver__first-word_state_current{
		color:#cccae9;
		text-shadow: 0px 1px 0px #fff, 1px 0px 0px #fff;
	}	
	.menu_ver__link_state_current:before{
		top: 46px;
		left: -10px;
		content: '\0020';
		text-shadow: none;
		border-width: 1px 5px 5px 5px;
		border-color: #fff;
		border-style: solid;
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;	
	}
	html.no-borderradius .menu_ver__link_state_current:before{			/*IE8*/
		width:12px;
		height:6px;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAA50lEQVR4XpXS0WbFQBCA4RL2DQ6hj9TbovchhAJVoPS2QB9nQQhDOBxKHyMgHLBg+p+a0lg7dsPHMvyymdyVnqfHjwSttHkhaQiJF5oaQqMXCrhURFZ0FijGekQnEnHKAk5wwIwrdjsPh8Dbw3vCggnhb6CqCVppu4X0nzN6C0lDSCyUxTqGU0NotFBmZBhwqYis6Eohsev1iE4k4ndrpdDhlycwYMYVu52zrbmh15fPgGcsSGbBhOCGIBa5xxe04IzeC432Jt9Q48Xyj40VnV1HK2XrjzjZtaQhJLfQjhmHLTBMDaHtB8JkneLP2M9HAAAAAElFTkSuQmCC) 100% -6px no-repeat;
		overflow:hidden;
		border:none;
	}
	
.menu_ver__link:visited { 
	color:#846886;
}
	.menu_ver__link:visited > .menu_ver__first-word{
		color:#cda69f;
}
	.menu_ver__link:link:hover,
	.menu_ver__link:visited:hover{
		text-decoration:none;
		color:#585488;
		border-color:#585488;
		text-shadow: 0px 1px 0px #fff, 1px 0px 0px #fff;
	}
		.menu_ver__link:hover:before {
			top: 45px;
			left: -10px;
			content: '\0020';
			border-width: 1px 5px 5px 5px;
			border-color: #585488;
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			behavior:url(pie.php);				
		}
		html.no-borderradius .menu_ver__link:hover:before {			/* IE8 */	
			width:12px;
			height:6px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAA50lEQVR4XpXS0WbFQBCA4RL2DQ6hj9TbovchhAJVoPS2QB9nQQhDOBxKHyMgHLBg+p+a0lg7dsPHMvyymdyVnqfHjwSttHkhaQiJF5oaQqMXCrhURFZ0FijGekQnEnHKAk5wwIwrdjsPh8Dbw3vCggnhb6CqCVppu4X0nzN6C0lDSCyUxTqGU0NotFBmZBhwqYis6Eohsev1iE4k4ndrpdDhlycwYMYVu52zrbmh15fPgGcsSGbBhOCGIBa5xxe04IzeC432Jt9Q48Xyj40VnV1HK2XrjzjZtaQhJLfQjhmHLTBMDaHtB8JkneLP2M9HAAAAAElFTkSuQmCC) -6px 0 no-repeat;
			overflow:hidden;
			border:none;
		}
	.menu_ver__link:link:active,
	.menu_ver__link:visited:active {	
		color:#7c4b7f;			
		border-color:#7c4b7f;
	}
	
	
/* MENU  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* PAGE  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.page{
	line-height:1.4em;
	font-size:1.4em;	
	min-height:300px;
	padding-bottom:70px;
}

.page__head{
	color:#cccae9;
	font-size:30px;
	font-family:"LuxorCNormal", Arial, sans-serif;
	text-shadow: 2px 2px 0px #585488;
	padding:22px 0;
}
.page_with_aside{
	padding-top:37px;
	padding-left:32%;
	color:#e5d4e6;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
}
/* PAGE  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* FOOT  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.foot{
    position:absolute;
    bottom:0;
    left:0;
    width:96%;
    height:60px;
    padding: 10px 2% 0;
}
	.foot:before{
		position:absolute;
		display:block;
		content:" ";
		width:96%;
		height:10px;
		left:0;
		top:-2px;
		margin:0 2%;
		border-top:2px solid #f9d9d3;
		
		-webkit-border-radius:2px 2px 0 0;
		-moz-border-radius:2px 2px 0 0;
		border-radius:2px 2px 0 0;
	}
	
	.foot__copyright,
	.foot__contacts	{
		display:inline-block;
		width:300px;
		color:#f9d9d3;
		text-align:right;
		font-size:1em;
		font-family:"AngelicaCNormal", Arial, sans-serif;		
	}
			.foot__developer{	
				font-size:27px;
				font-family:"LuxorCNormal", Arial, sans-serif;
			}
	.foot__contacts{
		float:right;
		font-size:1.3em;
	}
.foot_has_bg{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1NzM4ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTczOGYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(117,115,143,1) 0%, rgba(117,115,143,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,115,143,1)), color-stop(100%,rgba(117,115,143,0)));
	background: -webkit-linear-gradient(top,  rgba(117,115,143,1) 0%,rgba(117,115,143,0) 100%);
	background: -o-linear-gradient(top,  rgba(117,115,143,1) 0%,rgba(117,115,143,0) 100%);
	background: -ms-linear-gradient(top,  rgba(117,115,143,1) 0%,rgba(117,115,143,0) 100%);
	background: linear-gradient(top,  rgba(117,115,143,1) 0%,rgba(117,115,143,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75738f', endColorstr='#0075738f',GradientType=0 );   	
   	
   	-webkit-border-radius:20px 20px 0 0;
	-moz-border-radius:20px 20px 0 0;
	border-radius:20px 20px 0 0;
}

html.no-borderradius .foot_has_bg{
	filter:none;
	background:#75738f;
	border-radius:20px 20px 0 0;
	behavior:url(pie.php);
}


/* FOOT  (END)
 *------------------------------------------------------------------------------------
 */
 
/* DECOR  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.decor_color_bordo {
	font-style: normal;
	color: #7c4b7f;
}

.decor_color_white {
	color: #fff;
}
/* DECOR  (END)
 *------------------------------------------------------------------------------------
 */

/* PAGE-FAVORITES  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.favorites__item {
	position:relative;
	padding-top: 20px;
	padding-left: 30px;
}

.favorites__site {
	font-family: "AngelicaCNormal", Arial, sans-serif;
	font-size: 1.2em;
}

.favorites__icon {
	position:absolute;
	left:0;
	display:inline-block;
	background-image: url(../i/favorite__icon.png);
	background-repeat: no-repeat;
	top: 55%;
}

.favorites__icon_view_bem {
	width: 16px;
	height: 12px;
	background-position: 0 0;
}

.favorites__icon_view_cssing {
	width: 7px;
	height: 7px;
	background-position: -48px -40px;
	left: 5px;
	top: 65%;
}

.favorites__icon_view_pepelsbey {
	width: 16px;
	height: 16px;
	background-position: -16px 0;
}

.favorites__icon_view_chikuyonok {
	width: 10px;
	height: 10px;
	background-position: -48px -30px;
	left: 3px;
	top: 65%;
}

.favorites__icon_view_sreznikov {
	width: 16px;
	height: 16px;
	background-position: 0 -12px;
}

.favorites__icon_view_technogrette {
	width: 16px;
	height: 16px;
	background-position: 0 -28px;
}

.favorites__icon_view_garaev {
	width: 14px;
	height: 14px;
	background-position: -48px -16px;
}

.favorites__icon_view_htmlbook {
	width: 16px;
	height: 16px;
	background-position: -32px 0;
}

.favorites__icon_view_xiper {
	width: 16px;
	height: 16px;
	background-position: -32px -44px;
}

.favorites__icon_view_tricks {
	width: 16px;
	height: 13px;
	background-position: -16px -31px;
}

.favorites__icon_view_mozilla {
	width: 16px;
	height: 14px;
	background-position: -16px -16px;
}

.favorites__icon_view_webo {
	width: 16px;
	height: 16px;
	background-position: -32px -28px;
}

.favorites__icon_view_standard {
	width: 15px;
	height: 11px;
	background-position: -32px -16px;
}

.favorites__icon_view_makeitsexy {
	width: 16px;
	height: 16px;
	background-position: -16px -44px;
}

.favorites__icon_view_banzalik {
	width: 16px;
	height: 16px;
	background-position: 0 -44px;
}

/* PAGE-FAVORITES  (END)
 *------------------------------------------------------------------------------------
 */