/* NORMALIZE  (BEGIN)
 *------------------------------------------------------------------------------------
 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

html,button,input,select,textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:hover,a:active {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

b,strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

mark {
	background: #ff0;
	color: #000;
}

p,pre {
	margin: 1em 0;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: '';
	content: none;
}

small {
	font-size: 75%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl,menu,ol,ul {
	margin: 1em 0;
}

dd {
	margin: 0 0 0 40px;
}

menu,ol,ul {
	padding: 0 0 0 40px;
}

nav ul {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}

button,input,select,textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

button,input {
	line-height: normal; /* 1 */
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
	*overflow: visible; /* 3 */
}

button[disabled],input[disabled] {
	cursor: default;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/* NORMALIZE  (END)
 *------------------------------------------------------------------------------------
 */
 
/* RESET  (BEGIN)
 *------------------------------------------------------------------------------------
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* RESET  (END)
 *------------------------------------------------------------------------------------
 */
 
/* U-CLEARFIX  (BEGIN)
 *------------------------------------------------------------------------------------
 */
/* For IE 6/7 (trigger hasLayout) */
.u-clearfix {
    zoom:1;
}
/* U-CLEARFIX  (END)
 *------------------------------------------------------------------------------------
 */

/* I-GLOBAL  (BEGIN)
 *------------------------------------------------------------------------------------
 */
html{
	height:100%;
	background:#a2a1af url("../i/bg_history.png") 0 0 repeat;
	/* 
	zoom:0.67; */
}
body {
	font-size: 62.5%;
	font-family: Georgia, serif;
	height:100%;
	width:100%;
	min-width: 1000px;
	max-width: 1920px;
	margin:0 auto;
	
	/* 
-moz-transform: scale(0.67);
   -moz-transform-origin: 0 0;
   -o-transform: scale(0.67);
   transform: scale(0.67);*/
}

pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

:link {
	text-decoration: none;
	color: #fff;
}

:visited {
	text-decoration: none;
	color: #7c4b7f;
}
.visited_no_apply:visited {	
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color:#636;
}
h1,h2,h3{
	font-weight:normal;
}

/* I-GLOBAL  (END)
 *------------------------------------------------------------------------------------
 */

/* FONTS  (BEGIN)
 *------------------------------------------------------------------------------------
 */

@font-face {
    font-family: 'LuxorCNormal';
    src: url('../f/lux.eot');
	font-weight: normal;
	font-style: normal; 
}
@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../f/georgia.eot');
	font-weight: normal;
	font-style: normal; 
}
@font-face {
    font-family: 'ScrawlRegular';
    src: url('../f/scrawl.eot');
	font-weight: normal;
	font-style: normal; 
}
@font-face {
    font-family: 'AngelicaCNormal';
    src: url('../f/ang.eot');
	font-weight: normal;
	font-style: normal; 
}
/* FONTS  (END)
 *------------------------------------------------------------------------------------
 */

/* WRAPPER  (BEGIN)
 *------------------------------------------------------------------------------------
 */

.wrapper-out {
	position: relative;
	margin:auto;
	max-width: 1200px;
	min-height:100%;
}
.wrapper{
	position:relative;
	margin: auto;
	padding:0 2%;
	min-width: 1000px;
	box-sizing: border-box;		
}
.wrapper_has_bg{
	background:#75738f; 
	-webkit-border-radius:0 0 20px 20px;
	-moz-border-radius:0 0 20px 20px;
	border-radius:0 0 20px 20px;
	behavior:url(pie.php);
}
/* WRAPPER  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* HEAD  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.head{
	padding-bottom:5px;
	border-bottom:2px solid #f9d9d3;
	border-radius: 0 0 2px 2px;
	behavior:url(pie.php);
}
.head_has_bg{
	position:relative;	
    left: -2%;
    width: 100%;
    padding-left:2%;
    padding-right:2%;
}

html.no-borderradius .head_has_bg{
	background:#75738f;
	border-radius:0 0 20px 20px;
	behavior:url(pie.php);
}

.logo {
	width: 300px;
	text-align: right;
	white-space: nowrap;
}

.logo_head {
	font-family: "LuxorCNormal", Arial, sans-serif;
	font-size: 33px;
	margin-bottom: -14px;
}
	.logo_head__lastname {
		font-size: 82px;
		display: block;
		color: #fff;
	}
		.logo_head__lastname:first-letter {
			font-size: 100px;
		}

	.logo_head__firstname {
		float: right;
		margin-top: -95px;
		letter-spacing: 4px;
		color: #7c4b7f;
	}
	
.logo_rezume {
	font-family: "AngelicaCNormal", Arial, sans-serif;
	font-size: 28px;
	font-weight:bold;
	letter-spacing: 2px;
	color: #f9d9d3;
	text-shadow: 3px 3px 0px #585488;
}

/*****BEGIN hover для логотипа*/
.logo__link:hover {
	text-decoration: none;	
}
.logo__link:hover > .logo_head__lastname,
.logo__link:hover em,
.logo__link:hover>.logo_head__firstname {
	color: #a1a1b0;
	text-shadow: 0px 2px 0px #7c4b7f, 2px 0px 0px #7c4b7f;
	/*filter: dropshadow(color=#e31cae, offx=0, offy=1);		/* ПРАВИЛО ДЛЯ IE */
}
/*****END hover для логотипа*/

/* HEAD  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* MENU  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.menu_gor__list {
	float: right;
	width: 67%;
	margin-top: -82px;
	padding:0;
	white-space:nowrap;
	zoom:1;
	border: 1px dashed #585488;
	border-radius: 20px 0 0 0;
	behavior:url(pie.php);
}
	.menu_gor__item {
			position:relative;
			z-index:1;
			display:inline;
			padding:0;
			width:100%;
		}
				
		.menu_gor__item:hover,
		.menu_gor__item:active {
			z-index: 1;
		}
/******  задается цветовое решение непосредственно для ссылок */

			.menu_gor__link,
			.menu_gor__link:link {
				display: inline;
				font-family: "LuxorCNormal", Arial, sans-serif;
				font-size: 24px;
				line-height: 22px;
		
				padding:24px 10px 6px 7.5%;
				
				color: #f9d9d3;
				border:1px solid transparent;
				border-radius: 20px 0 0 0;	
				behavior:url(pie.php);
			}
				.menu_gor__first-word {
					position:absolute;
					right:10px;
					top:4px;
					color: #7c4b7f;
				}

.menu_gor__link:visited {
	text-decoration: none;
	color: #fff;
	border-color:#75738f;
}

.menu_gor__link:visited>.menu_gor__first-word {
	color: #cccae9;
}

.menu_gor__link:link:hover,
.menu_gor__link:visited:hover {
	text-decoration: none;
	color: #fff;
	background:#7c4b7f;	
	border-color:#f9d9d3;
}

.menu_gor__link:link:hover > .menu_gor__first-word,
.menu_gor__link:visited:hover > .menu_gor__first-word{
	color: #cccae9;
}

.menu_gor__link:link:active,
.menu_gor__link:visited:active {
	border-color:#7c4b7f;	
}

.menu_gor__link_state_current,
.menu_gor__link_state_current:link,
.menu_gor__link_state_current:visited{
	color: #c37f73;
	background: #f9d9d3;
	border: 3px double #c37f73;
	padding:22px 8px 4px 7.5%;
}

.menu_gor__first-word_state_current,
.menu_gor__link:visited>.menu_gor__first-word_state_current	{
	color: #585488;
}

/* MENU  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* PAGE  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.page{
	line-height:1.4em;
	font-size:1.4em;										/* IE7 */
	min-height:auto;
	padding-bottom:70px;
}

.page__head{
	color:#cccae9;
	font-size:30px;
	font-family:"LuxorCNormal", Arial, sans-serif;
	text-shadow: 2px 5px 0px #585488;
	padding:22px 0;
}


/* PAGE  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* FOOT  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.foot{
    position:absolute;
    bottom:0;
    left:0;
    width:96%;
    height:60px;
    padding: 10px 2% 0;    
	border-top:2px solid #f9d9d3;
}
html.no-borderradius 
	.foot_has_bg {
	background:#75738f;
	border-radius:20px 20px 0 0;
	behavior:url(pie.php);
}
	.foot__copyright,
	.foot__contacts	{
		display:inline-block;
		width:300px;
		color:#f9d9d3;
		text-align:right;
		font-size:10px;
		font-family:"AngelicaCNormal", Arial, sans-serif;
	}
		.foot__developer{	
			font-size:27px;
			font-family:"LuxorCNormal", Arial, sans-serif;
		}
	.foot__copyright {
		float: left;
	}
	.foot__contacts{
		float:right;
		font-size:1.3em;
	}

.page_works__foot{
	border-top:2px solid #f9d9d3;
}

.page_works__foot:before{
	content:none;
}
/* FOOT  (END)
 *------------------------------------------------------------------------------------
 */
 


/* PAGE-WORKS  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.page_works{
	font-size:0.9em;
	line-height:1.2em;
}
.page_works__head{
	width:100%;
	text-align:center;
}
/* PAGE-WORKS  (END)
 *------------------------------------------------------------------------------------
 */
/* WORKS  (BEGIN)
 *------------------------------------------------------------------------------------
 */
 
.works__buttons{
	position:relative;
	top:-50px;
}
.works__button{
	float:right;
	margin:0 10px;
}
.works__button:hover{
	cursor:pointer;
	box-shadow: 0 0 10px #f8d8d2;
	border-radius:14px;
	behavior:url(pie.php);	
}
.works__list{
	margin-top:20px;
	margin-bottom:2px;
	text-align:center;
}
	.works__item{
		margin-bottom:30px;
		white-space:nowrap;
		text-align:left;
		border-top:3px double #e5d4e6;
	}
	.works__fig{
	}
		.works__fig-cap{
			padding:10px 0 0 3px;
			color:#fff;
			line-height:1.3em;
			font-size:1.3em;
			white-space:normal;
		}
			.works__fig-cap h2{
				display:inline-block;
			}
			.works__head{
				display:block;
				color:#f9d9d3;
				font-size:26px;
				font-family:"AngelicaCNormal", Arial, sans-serif;
				text-shadow: 1px 1px 0px #7C4B7F;
				padding:10px 0;
			}	
			.works__head:hover{
				text-shadow:1px 1px 1px #fff;
			}
			.works__subhead {
				padding-top:10px;
				font-size:1.3em;
			}
			.works__subhead:hover{
				text-shadow: 1px 1px 0px #7C4B7F;
			}
			.works__link:link {
				padding: 0 4px;
				border-radius: 10px;
				border: 1px solid #e5d4e6;
				color: #75738f;
				background: #e5d4e6;
			}
				.works__link:visited {
					background:#75738f;
					color:#e5d4e6;
				}
				.works__link_visited {
					padding: 0 4px;
					border-radius: 10px;
					border: 1px solid #e5d4e6;
					background:#75738f;
					color:#e5d4e6;
				}
		.works__fig-img{
			float:right;
			position:relative;
			z-index:1;
			width:448px;
			height:232px;	/*full*/
			margin-left:15px;
			vertical-align:bottom;
			
			cursor:pointer;	
			
			background-repeat:no-repeat;
			box-shadow:0px 0px 0px 1px #E5D4E6, 0px 0px 0px 2px #a1a1b0, 0px 0px 0px 3px #E5D4E6;
			border-radius:0 0 40px 40px;	
			behavior:url(pie.php);						
		}
		html.no-boxshadow .works__fig-img{
			box-shadow:none;
			border-left:3px double #e5d4e6;
			border-top:3px double #e5d4e6;
			border-right:3px double #e5d4e6;
			border-radius:0 0 40px 40px;
			behavior:url(pie.php);			
		}	
			.works__fig-img > img{
				opacity:0;				
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
			}

/* WORKS_view_small  
 *------------------------------------------------------------------------------------
 */
.works__item_view_small {
	display: inline; /*small*/
	margin:20px 2%;
	zoom:1;
}

.works__fig_view_small {
	border: none;
}

html.js .works__fig-cap_view_small {
	display: none; /* small*/
}

.works__fig-img_view_small {
	width: 224px; /*small*/
	height: 152px;	
	
	border: 3px solid #75738f;

	border-radius: 20px;
	behavior: url(pie.php);
}
html.js .works__fig-img_view_small{
	cursor: pointer;
}

.works__fig-img_view_small > img {
	opacity:0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
}

html.no-js .works__item_view_small {
	width:20%;
	vertical-align:top;
}
html.no-js .works__fig-img_view_small {
	border-radius:0;
}

html.no-js .works__fig-img_view_small > img{	
	opacity:1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
}
/* WORKS  (END)
 *------------------------------------------------------------------------------------
 */
 
 /* DECOR  (BEGIN)
 *------------------------------------------------------------------------------------
 */
.decor_color_bordo {
	font-style: normal;
	color: #7c4b7f;
}

.decor_color_white {
	color: #fff;
}

.page_works .item_has_marker{
	margin-bottom:0.5em;
	text-indent:15px;
	text-align:justify;
	list-style-image: url(../i/ie7/page_works__marker.png);
	list-style-position: outside;
}
/* DECOR  (END)
 *------------------------------------------------------------------------------------
 */
